<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <!-- Define individual Music beans -->
    <bean id="classicalMusicBean" class="ua.velychko.springcourse.ClassicalMusic"/>
    <bean id="rockMusicBean" class="ua.velychko.springcourse.RockMusic"/>
    <bean id="superMusicBean" class="ua.velychko.springcourse.SuperMusic"/>

    <!-- Inject the Music beans into the musicList of the MusicPlayer -->
    <bean id="musicPlayer" class="ua.velychko.springcourse.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="classicalMusicBean"/>
                <ref bean="rockMusicBean"/>
                <ref bean="superMusicBean"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>